In [ ]:
'''Qaundl has a large number of data sources, but, unfortunately, 
most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), 
which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, 
which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: 
https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.
'''

In [ ]:
'''
These are your tasks for this mini project:

1.) Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2.) Convert the returned JSON object into a Python dictionary.
3.) Calculate what the highest and lowest opening prices were for the stock in this period.
4.) What was the largest change in any one day (based on High and Low price)?
5.) What was the largest change between any two days (based on Closing Price)?
6.) What was the average daily trading volume during this year?
7.) (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

'''

In [17]:
#Getting the API Key and relevant modules
import configparser
import requests

config = configparser.ConfigParser()
config.read('api_key.ini')
API_KEY = config['default']['API_KEY']

In [18]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

# 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that 
# the date format is YYYY-MM-DD).
r = requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31&api_key=" + API_KEY)
json_data = r.json()

In [5]:
# Creating a pandas DataFrame to check my answers
import pandas as pd

json_data_cols = json_data["dataset"]["column_names"]
json_data_rows = json_data["dataset"]["data"]
df = pd.DataFrame(json_data_rows, columns=json_data_cols)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [7]:
# 2. Convert the returned JSON object into a Python dictionary.
type(json_data)

dict

In [16]:
# json_data

In [15]:
# 3. Calculate what the highest and lowest opening prices were for the stock in this period.
open_prices = [daily[1] for daily in json_data['dataset']['data'] if daily[1] != None]
max_open = str(max(open_prices))
min_open = str(min(open_prices))
print('Highest opening price was $' + max_open)
print('Lowest opening price was $' + min_open)

# Using the pandas DataFrame to check my answers
# df_max_open = df[["Date","Open"]][df.Open == df.Open.max()]
# df_min_open = df[["Date","Open"]][df.Open == df.Open.min()]
# print(df_max_open)
# print(df_min_open)

Highest opening price was $53.11
Lowest opening price was $34.0

In [11]:
# 4. What was the largest change in any one day (based on High and Low price)?
daily_change = [daily[2]-daily[3] for daily in json_data['dataset']['data'] if daily[2:3] != None]
largest_change = str(round(max(daily_change), 2))
print('The largest one day change was $' + largest_change)

# Using the pandas DataFrame to check my answers
# df_daily_max = df[["Date","High","Low"]][(df.High - df.Low) == (df.High - df.Low).max()]
# df_largest_change = df_daily_max["High"] - df_daily_max["Low"]
# df_largest_change

The largest one day change was $2.81

In [12]:
# 5. What was the largest change between any two days (based on Closing Price)?
close_prices = [daily[4] for daily in json_data['dataset']['data'] if daily[4] != None]
change = [x - close_prices[i-1] for i,x in enumerate(close_prices)][1:]
pos_change = [abs(num) for num in change]
largest_close_change = str(round(max(pos_change), 2))
print('The largest two day change based on closing price was $' + str(largest_close_change))

# Using the pandas DataFrame to check my answers
# id_list = df.index[df.Close.diff().abs() == df.Close.diff().abs().max()].tolist()
# id_list.insert(0, id_list[0] - 1)
# df_close_delta_max = df.loc[id_list,["Date","Close"]]
# df_close_delta_max["Diff"] = df_close_delta_max.Close.diff().abs()
# print(df_close_delta_max)

The largest two day change based on closing price was $2.56

In [13]:
# 6. What was the average daily trading volume during this year?
daily_trading_volume = [daily[6] for daily in json_data['dataset']['data'] if daily[6] != None]
average = (sum(daily_trading_volume)/len(daily_trading_volume))
average = str(round(average))
print('The average daily trading volume ' + average)

# Using the pandas DataFrame to check my answers
# df_vol_avg = df["Traded Volume"].mean()
# print(df_vol_avg)

The average daily trading volume 89124